<mat-card>
  <mat-card-title>Inserisci Articolo</mat-card-title>

  <form [formGroup]="insertArticle" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input matInput type="number" formControlName="id" />
      <mat-error *ngIf="insertArticle.controls['id'].invalid"
        >Campo obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label>Titolo</mat-label>
      <input matInput type="text" formControlName="title" />
      <mat-error *ngIf="insertArticle.controls['title'].invalid"
        >Campo obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="mat-form-field-flex">
      <mat-label>Contenuto</mat-label>
      <input matInput type="text" formControlName="content" />
      <mat-error *ngIf="insertArticle.controls['content'].invalid"
        >Campo obbligatorio</mat-error
      >
    </mat-form-field>

    <br />

    <button
      mat-raised-button
      class="mat-form-field-infix"
      type="submit"
      [disabled]="insertArticle.invalid"
    >
      Inserisci Articolo
    </button>
  </form>
</mat-card>
